body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-map{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  
}

.buttons{
  display: flex;
  flex-direction: column;
}


#escape-to-bangkok{
  background-color: red;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

#where-am-i{
  background-color: green;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}